/* 마크다운 본문 스타일링 */
.yhmd {
  max-width: 80rem;
}
.yhmd > h1 {
  @apply text-4xl font-extrabold mt-8 leading-15;
}
.yhmd > h2 {
  @apply text-3xl font-bold mt-6 leading-10;
}
.yhmd > h3 {
  @apply text-xl font-bold mt-4 leading-8;
}
.yhmd > h4 {
  @apply text-lg font-semibold mt-2;
}
.yhmd > p {
  @apply leading-7 py-1;
}
.yhmd > hr {
  @apply border-t-gray-300 my-4;
}
.yhmd ul {
  @apply leading-7;
  padding-inline-start: 1rem;
}
.yhmd ul > li {
  @apply list-disc;
}
.yhmd ul > li > ul > li {
  @apply list-[circle];
}
.yhmd ul > li > ul > li > ul > li {
  @apply list-[square];
}
.yhmd ol {
  @apply leading-7;
  padding-inline-start: 1rem;
}
.yhmd ol > li {
  @apply list-decimal;
}
.yhmd ol > li > ol > li {
  @apply list-[lower-alpha];
}
.yhmd a {
  @apply relative inline-block text-primary font-[475] underline underline-offset-4 decoration-system-gray-4;
}
.yhmd a::before {
  @apply absolute -top-0.5 -left-1 -right-1 -bottom-0.5 -z-1;
  @apply bg-transparent rounded-sm;
  content: "";
  transition: background-color 0.3s ease;
}
.yhmd a:hover::before {
  @apply bg-system-gray-5;
}
.yhmd .contains-task-list {
  padding-inline-start: 0rem;
}
.yhmd .contains-task-list li {
  @apply list-none;
}

/* 인라인 코드 스타일링 */
.yhmd span[data-rehype-pretty-code-figure] > code {
  @apply rounded px-2 pt-0.5 pb-1;
}

/* 코드 블럭 스타일링 */
.yhmd figure[data-rehype-pretty-code-figure] > pre {
  @apply py-4 rounded-md overflow-auto;
}
.yhmd figure[data-rehype-pretty-code-figure] span[data-line] {
  @apply px-4;
}
.yhmd figure[data-rehype-pretty-code-figure] {
  @apply my-1
}

/* 코드 블럭 > 하이라이팅 라인 스타일링 */
.yhmd span[data-highlighted-line] {
  @apply bg-indigo-200/10;
}

/* 코드 블럭 > 라인 넘버 스타일링 */
.yhmd code[data-line-numbers] {
  counter-reset: line;
}
.yhmd code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  margin-right: 1.5rem;
  text-align: right;
  color: gray;
}
.yhmd code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}
.yhmd code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}
.yhmd code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

.yhmd blockquote {
  @apply relative px-14 py-8 my-1;
  @apply border-l-8 border-l-system-gray-2;
  @apply bg-system-gray-6 text-system-gray italic leading-6.5;
}

.yhmd blockquote p {
  @apply py-1;
}

.yhmd blockquote::before {
  @apply absolute left-[20px] top-[10px];
  @apply text-system-gray text-7xl font-[Arial];
  content: "\201C";
}

.yhmd blockquote span {
  @apply text-system-gray;
}

.yhmd blockquote cite {
  @apply block mt-4;
  @apply text-system-gray italic font-semibold;
}