/* 마크다운 본문 스타일링 */
.yhmd {
  max-width: 80rem;
}
.yhmd > p {
  @apply leading-7 py-1;
}
.yhmd > hr {
  @apply border-t-system-gray-3 my-4;
}
.yhmd ul {
  @apply leading-7;
  padding-inline-start: 1rem;
}
.yhmd ul > li {
  @apply list-disc;
}
.yhmd ul > li > ul > li {
  @apply list-[circle];
}
.yhmd ul > li > ul > li > ul > li {
  @apply list-[square];
}
.yhmd ol {
  @apply leading-7;
  padding-inline-start: 1rem;
}
.yhmd ol > li {
  @apply list-decimal;
}
.yhmd ol > li > ol > li {
  @apply list-[lower-alpha];
}
.yhmd > p a {
  @apply relative inline-block text-primary underline underline-offset-4 decoration-system-gray-4;
  transition: text-decoration-color .5s
}
.yhmd > p a::before {
  @apply absolute -top-0 -left-1 -right-1 -bottom-0 -z-1;
  @apply bg-transparent rounded-sm;
  content: "";
  transition: background-color 0.3s ease;
}
.yhmd > p a:hover::before {
  @apply bg-system-gray-6;
}
.yhmd .contains-task-list {
  padding-inline-start: 0rem;
}
.yhmd .contains-task-list li {
  @apply list-none;
}

/* 인라인 코드 스타일링 */
.yhmd code {
  @apply bg-system-gray-6 text-[#EB5757] px-1 py-0.5 rounded font-mono text-sm inline-block
}

/* 코드 블럭 스타일링 */
.yhmd figure[data-rehype-pretty-code-figure] > pre > code {
  @apply py-4 px-0 rounded-md overflow-auto;
  span[data-line] {
    @apply px-3
  }
}

html[data-theme*="light"] .yhmd {
  code[data-theme*="github-light"],
  code[data-theme*="github-light"] span {
    color: var(--shiki-light);
  }
  code[data-theme*="github-light"] span[data-highlighted-line] {
    @apply bg-indigo-400/10
  }
}

html[data-theme="dark"] .yhmd {
  code[data-theme*="github-dark-dimmed"],
  code[data-theme*="github-dark-dimmed"] span {
    color: var(--shiki-dark);
  }
  code[data-theme*="github-dark-dimmed"] span[data-highlighted-line] {
    @apply bg-indigo-200/10
  }
}

/* 코드 블럭 > 라인 넘버 스타일링 */
.yhmd code[data-line-numbers] {
  counter-reset: line;
}

.yhmd code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  margin-right: 1.5rem;
  text-align: right;
  color: gray;
}

.yhmd code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}
.yhmd code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}
.yhmd code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

/* 인용구 스타일링 */
.yhmd blockquote {
  @apply relative px-14 py-8 my-1;
  @apply border-l-8 border-l-system-gray-2;
  @apply bg-system-gray-6 text-system-gray italic leading-6.5;
}

.yhmd blockquote p {
  @apply py-1;
}

.yhmd blockquote::before {
  @apply absolute left-[20px] top-[10px];
  @apply text-system-gray text-7xl font-[Arial];
  content: "\201C";
}

.yhmd blockquote span {
  @apply text-system-gray;
}

.yhmd blockquote cite {
  @apply block mt-4;
  @apply text-system-gray italic font-semibold;
}